*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: black;
    color: white;
}

#stopwatch{
    background-color: rgb(44, 48, 50);
    color: white;
    padding: 20px 40px;
    margin: 10px;
    font-size: 80px;
    border-radius: 20px;
}

.button{
    padding: 20px;
}

button{
    font-size: 25px;
    border-radius: 10px;
    padding: 10px;
    margin: 0 20px;
    background-color: rgb(79, 84, 82);
}


